@font-face {
  font-family: "Nimbus Roman", "Times New Roman", Times, serif;
  src: local(Nimbus Roman),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Regular.woff) format(woff),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Regular.ttf) format(truetype);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nimbus Roman", "Times New Roman", Times, serif;
  src: local(Nimbus Roman),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Italic.woff) format(woff),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Regular.ttf) format(truetype);
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Nimbus Roman", "Times New Roman", Times, serif;
  src: local(Nimbus Roman),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Bold.woff) format(woff),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Regular.ttf) format(truetype);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nimbus Roman", "Times New Roman", Times, serif;
  src: local(Nimbus Roman),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-BoldItalic.woff) format(woff),
    url(./assets/fonts/NimbusRoman/Nimbus-Roman-Regular.ttf) format(truetype);
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
