main {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

main > #profile-picture-name > img {
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

main > #profile-picture-name > img:hover {
  transform: scale(105%);
}

main > #profile-picture-name > h1 {
  margin: 1rem auto 0;
  line-height: 1;
  width: fit-content;
}
