main {
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

main > a > img {
    transition: all .2s ease-in-out;
}

main > a > img:hover {
    transform: scale(105%);
}

main > h1 {
    margin: 1rem auto 1rem;
    width: fit-content;
}

section {
    border: 1px solid white;
    border-radius: 2rem;
}

section > a > img {
    padding: 0.5rem;
}