@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono/JetBrainsMono-Regular.woff2") format('woff');
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono/JetBrainsMono-Bold.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono/JetBrainsMono-BoldItalic.woff2") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono/JetBrainsMono-Italic.woff2") format('woff');
  font-style: italic;
}