html, body {
    margin: 0px;
    padding: 0px;

    height: 100%;
}

body {
    font-family: "JetBrains Mono";

    background-image: url("../images/Background.png");
    background-size: 715px 715px;
}

.holder {
    width: 1024px;
    margin: 0 auto;
}